.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

}

.top {
    display: flex;
}

.imgContainer{
    width: 40px;
    position: relative;
}

.img{
    object-fit: contain;
}
.date {
    transform: rotate(270deg);
    font-size: 12px;
    margin: auto;
}

.title{
    font-size: 24px;
    margin-bottom: 20px;
}

.description{
    width: 75%;
    margin-bottom: 20px;
    font-weight: 300;
    color:blanchedalmond
}